/* Element Targeting */
*
{
    padding: 0px;
    margin: 0px;
}
nav
{
    width: 100vw;
    height: 6.34vh;
    background-color: #006445;
    display: flex;
    justify-content: center;
}
.ColorWhite
{
    color: white;
}
.ColorLime
{
    color: #DBFF4A;
}
.ColorDarkGreen
{
    color: #0F2B22;
}

.MainNavLinks
{
    font-weight: 700;
    font-size: 90%;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.MainHeaders
{
    font-family: refrigerator-deluxe,sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 330%;
    line-height: 1.1;
}
.NormalSize
{
    font-size: 110%;
}
/* Nav Bar */
#MainNavContainer
{
    /* background-color: black; */
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#MainNavLogo
{
    float: left;
    padding: 1vh;
    height: 4.34vh;
    background-color: white;
}

.navSpacer
{
    width: 6vw;
}
#RightMenuDiv
{
    background-color: #005C40;
    width: 23vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.IconImg
{
    height: 3vh;
}
.RightMenuContentDiv
{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#AanmeldButton
{
    height: 4vh;
    width: 15vh;
    background-color: #DBFF4A;
    border-radius: 6px;
    flex-direction: row;
}
/* Main Frame */
#MainFrame
{
    width: 100vw;
    height: 62.98vh;
    background-color: #004630;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MainSpacer
{
    width: 2vw;
    height: 2vh;
}
#MainItemDiv
{
    display: flex;
    justify-content: center;
    align-items: center;  
}
#MainArrowDiv
{
    width: 42.5vw;
    /* height: 10vh;
    background-color: black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.MainFrameDiv
{
    width: 15vw;
    height: 45vh;
}
.MainFrameDivHalf
{
    width: 8.5vw;
}
#MainFrameDiv1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#LeftFrameTop
{
    width: 200%;
    z-index: 2;
}
#LeftFrameBottom
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.LeftFrameBottomContent
{
    margin-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 6px;
    width: 13vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LeftFrameBottomLinks
{
    margin-bottom: 0.4vh;
    background-color: transparent;
    justify-content: flex-start;
}
.PaddingLeft
{
    padding-left: 1vw;
}
#LeftFrameButton1
{
    background-color: #DBFF4A;
}
#LeftFrameButton2
{
    background-color: #0F2B22;
}
#MainFrameDiv2
{
    padding: 1vw;
    background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,0.9)), url(/img/Foto1.jpg);
    /* background-image: url(/img/Foto1.jpg); */
    background-size: cover;
    background-position: -9.2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
#MainFrameDiv3
{
    padding: 1vw;
    background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,0.9)), url(/img/Foto2.jpg);
    /* background-image: url(/img/Foto2.jpg); */
    background-size: cover;
    background-position: -1.2vw;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
}
#LastFrameHeading
{
    width: 15vw;
}
/* Footer */
footer
{
    width: 100vw;
    height: 30.68vh;
    background-color: #0F2B22;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#InternalFooterDiv
{
    width: 50%;
    height: 80%;
    display: flex;
    /* background-color: black; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#InternalFooterDiv2
{
    display: flex;
    /* background-color: black; */
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
#SmallFooterHeading
{
    color:  #DBFF4A;;
}